{% extends 'base2.html.twig' %}
{% block title %} Home - {% endblock %}
{% block body %}
<section id="photograph" class="clearfix">
 <div class="container">
  <div class="row">
   <div class="photograph clearfix">
    <p><a href="#">Home</a> > <span class="photo_tab">About Us</span></p>
   </div>
  </div>
 </div>
</section>

<section id="proj_h">
<div class="container">
<div class="row">
<div class="proj_h1 clearfix">
<div class="col-sm-3">
<div class="proj_h1i text-center clearfix">
 <span><i class="fa fa-users"></i></span>
 <h4 class="mt_15 col_black">14 Million Business</h4>
 <p>Choose from a collection of handpicked luxury villas &amp; apartments</p>
 <h5><a class="button_link mgt" href="#">Explore Now</a></h5>
</div>
</div>
<div class="col-sm-3">
<div class="proj_h1i text-center clearfix">
 <span><i class="fa fa-building"></i></span>
 <h4 class="mt_15 col_black">600 Services Offered</h4>
 <p>Choose from a collection of handpicked luxury villas &amp; apartments</p>
 <h5><a class="button_link mgt" href="#">Explore Now</a></h5>
</div>
</div>
<div class="col-sm-3">
<div class="proj_h1i text-center clearfix">
 <span><i class="fa fa-map"></i></span>
 <h4 class="mt_15 col_black">08 Million Visitors</h4>
 <p>Choose from a collection of handpicked luxury villas &amp; apartments</p>
 <h5><a class="button_link mgt" href="#">Explore Now</a></h5>
</div>
</div>
<div class="col-sm-3">
<div class="proj_h1i text-center clearfix">
 <span><i class="fa fa-user-plus"></i></span>
 <h4 class="mt_15 col_black">21 Million Business</h4>
 <p>Choose from a collection of handpicked luxury villas &amp; apartments</p>
 <h5><a class="button_link mgt" href="#">Explore Now</a></h5>
</div>
</div>
</div>
</div>
</div>
</section>

<section id="course_home">
<div class="container">
<div class="row">
<div class="col-sm-5">
<div class="course_home_r clearfix">
 <img src="img/51.jpg" class="iw" alt="abc">
</div>
</div>
<div class="col-sm-7">
<div class="course_home_l clearfix">
 <h3 class="mgt">Integer Nec Odio Praesent Libero</h3>
 <p> Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
 <div class="course_home_li clearfix">
  <div class="col-sm-6 space_left">
   <div class="course_home_lii clearfix">
	   <div class="col-sm-2 space_left col-xs-2"><span class="fa fa-user"></span></div>
	   <div class="col-sm-10 space_right col-xs-10"><h4 class="mgt col_black"> Better Evaluation of Students</h4></div>
   </div>

  </div>
  <div class="col-sm-6 space_left">
	<div class="course_home_lii clearfix">
	 <div class="col-sm-2 space_left col-xs-2"><span class="fa fa-book"></span></div>
	 <div class="col-sm-10 space_right col-xs-10"><h4 class="mgt col_black"> Duis Sagittis Ipsum Praesent Mauris</h4></div>
	</div>

  </div>
 </div>
 <div class="course_home_li clearfix">
  <div class="col-sm-6 space_left">
   <div class="course_home_lii clearfix">
	   <div class="col-sm-2 space_left col-xs-2"><span class="fa fa-play-circle-o"></span></div>
	   <div class="col-sm-10 space_right col-xs-10"><h4 class="mgt col_black"> Nulla Quis Sem At Nibh Elementum</h4></div>
   </div>

  </div>
  <div class="col-sm-6 space_left">
	<div class="course_home_lii clearfix">
	 <div class="col-sm-2 space_left col-xs-2"><span class="fa fa-pencil-square-o"></span></div>
	 <div class="col-sm-10 space_right col-xs-10"><h4 class="mgt col_black"> Sed Cursus Ante Dapibus Diam</h4></div>
	</div>

  </div>
 </div>
 <div class="course_home_li clearfix">
  <div class="col-sm-6 space_left">
   <div class="course_home_lii clearfix">
	   <div class="col-sm-2 space_left col-xs-2"><span class="fa fa-globe"></span></div>
	   <div class="col-sm-10 space_right col-xs-10"><h4 class="mgt col_black"> Integer Nec Odio Praesent Libero</h4></div>
   </div>

  </div>
  <div class="col-sm-6 space_left">
	<div class="course_home_lii clearfix">
	 <div class="col-sm-2 space_left col-xs-2"><span class="fa fa-bookmark-o"></span></div>
	 <div class="col-sm-10 space_right col-xs-10"><h4 class="mgt col_black">  Lorem Ipsum Dolor Sit Amet Consectetur </h4></div>
	</div>

  </div>
 </div>
</div>
</div>
</div>
</div>
</section>

<section id="prom">
 <div class="container">
  <div class="row">
   <div class="prom_1 clearfix">
    <div class="col-sm-6">
      <div class="prom_1l clearfix">
	    <div class="grid clearfix">
		  <figure class="effect-jazz">
			<a href="#"><img src="img/52.jpg" height="560" class="iw" alt="img25"></a>
		  </figure>
	  </div>
	  </div>
	</div>
	<div class="col-sm-6">
      <div class="prom_1r clearfix">
	   <h4 class="mgt col_black">ANALYSIS</h4>
	   <h3>Get Free SEO Analysis?</h3>
	   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum auctor justo, ac bibendum neque sollicitudin ac.</p>
	   <input class="form-control" placeholder="Your Name" type="text">
	   <input class="form-control" placeholder="Email" type="text">
	   <input class="form-control" placeholder="Your Phone" type="text">
	   <input class="form-control" placeholder="Website" type="text">
	   <h5><a class="button_link" href="#">SUBMIT </a></h5>
	  </div>
	</div>
   </div>
  </div>
 </div>
</section>
{% endblock %}