{% extends 'dashboard.html.twig' %}

{% block title %}Reply Index{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Reply Index</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th>Contenureply</th>
                            <th>CreatedAt</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reply in replies %}
                            <tr>
                                <td>{{ reply.contenureply }}</td>
                                <td>{{ reply.createdAt ? reply.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('app_reply_show', {'id': reply.id}) }}" class="btn btn-sm btn-primary">Show info</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3" class="text-center">No records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}