{# templates/categorie/new.html.twig #}

{% extends 'dashboard.html.twig' %}

{% block title %}Create a New Category{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Create a New Category</h4>
        </div>
        <div class="card-body">
            {{ include('categorie/_form.html.twig', {'button_label': 'Create'}) }}
        </div>
    </div>
{% endblock %}
